body {
    font-size: 16px;
  
background: rgba(96, 59, 22, 1.0);
background: -webkit-linear-gradient(top left, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
background: -moz-linear-gradient(top left, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
background: linear-gradient(to bottom right, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
  }

* {
    font-family: Helvetica, sans-serif;
}

div.FormBox{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgba(251,251,251,1) 0%, rgba(92,92,92,1) 100%);
    max-width: 32rem;
    width: 90%;
}

div.inside {
    padding: 2.5rem;
}

h1 {
    font-weight: normal;
}
h2 {
    width: 100%;
    font-weight: normal;
    color: #848694;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

input.text {
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #848694;
}

input.text:hover {
    border-bottom: 2px solid #0424c1;
}

div.redirect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
}

#submit {
    border-radius: 20px;
    background-color: #cdcdcd;
    color: black;
    max-width: 10rem;
    width: 100%;
    height: 2.5rem;
}