@charset "UTF-8";

body, html, div#root {height: 100%; }

body {
    font-size: 16px;
    margin: 0;
   background: rgba(96, 59, 22, 1.0);
background: -webkit-linear-gradient(top left, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
background: -moz-linear-gradient(top left, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
background: linear-gradient(to bottom right, rgba(96, 59, 22, 1.0), rgba(14, 35, 90, 1.0));
}

th {
	color: white;
}

* {
    font-family: Helvetica, sans-serif;
}

div#root {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 5%;
    padding-right: 5%;

    height: 9%;
  }

main {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

main{
    padding: 7px;
}

.button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: 	white;
	background-color: 	rgb(144,144,144);
	text-align: center;
	transition: all 0.2s;
	border-width: thick;
}

.header {
	color: white;
}

.mynavbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	background: rgb(42,11,11);
background: linear-gradient(90deg, rgba(42,11,11,1) 0%, rgba(36,36,36,1) 83%);
}
.mynavbar-profile-options {
	 padding-right: 80px;
}
.mynavbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.mydropdown {
	float: left;
	overflow: hidden;
}

.mydropdown .mydropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.mynavbar a:hover, .mydropdown:hover .mydropbtn {
	background-color: red;
}

.mydropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.mydropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.mydropdown-content a:hover {
	background-color: #ddd;
}

.mydropdown:hover .mydropdown-content {
	display: block;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box select {
	background-color: rgb(80,80,80);
	color: white;
	padding: 12px;
	width: 250px;
	border: none;
	font-size: 20px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}

.box select option {
	padding: 30px;
	background-color: rgb(190,190,190);
}

.wrapper {
	margin: 0 auto;
	padding: 40px;
	max-width: 800px;
}
.table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
}

.row {
	display: table-row;

background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header .cell {
	color: white;
text-decoration: underline;
}
.cell{
	color: 		#A8A8A8;
}

.cell {
	display: none;
	margin-bottom: 10px;
	padding: 6px 12px;
	display: table-cell;
}

.modify {
	display: flex;
    flex-direction: column;
}

#modifyTitle {
	color: white;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    background-color: 	rgb(144,144,144);
}

.fcc-btn:hover {
 background-color: lightgreen;
}
.fcc-btn {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}